doctype html
html
  head
    title= title
    link(rel='stylesheet', href=app.rootPath+'/css/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body(class='mh2 sans-serif')
    block content
